html {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

body {
    min-height: 100%;
}

nav {
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #414149;
    color: white;
}

nav div {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    font-family: 'Righteous', cursive;
    font-size: 40px; 
}

.pigBank {
    margin-left: -50px;
}
.logo p {
    margin-left:-75px;
}

.total {
    font-size: 30px; 
    font-family: 'Roboto';

}

.container {
    min-height: 150px;
    border: 50px solid white;
    display: flex;
    justify-content: space-around;

}

.expenses {
    width: 500px;
    min-height:100px;
    background: #EFE8E1;
    font-family: 'Righteous';
    font-size: 30px;
    padding-bottom:25px;
}

.expenses p {
    margin-left: 20px;

}

.expenses ul li {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 20px; 
    font-family: 'Roboto';
    padding-right: 10px;
    padding-left: 10px;
}

.expenses ul li p img{
    margin-left: 30px;
}

.addBill {
    width: 400px;
    height: 250px;
    background: #54D2E5;
    font-family: 'Righteous';
    font-size: 30px;
    padding-left: 30px;
    display: flex;
    flex-flow: column;
}

.addBill p {
    width: 400px;
    margin-bottom: 0px;
}




.addForm{
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 20px;
    font-family: 'Roboto';
}

.addForm p {
    width: 100px;
    margin-top: 10px;
}
.addForm input{
    width: 200px;
    margin-left: -15px;
    height: 20px;
    margin-top: 10px;
}

.button {
    margin-top: 20px;
    width: 380px;
    height: 40px;
    background: black;
    font-family: 'Righteous';
    font-size: 18px;
    text-align: center;
    color: white;
}

.button p{
    margin: 8px;
}


